@@font-face {
	font-family: Turtles;
	src=url(font/Turtles.otf);
}

body {
	margin: 0;
	padding: 0;
	margin-top: 100px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		HEADER
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.navbar-default {
	background-color: #037C00;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #FFF;
background-color: #2BAF2B;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		PRESENTATION
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#presentation {
	background-color: rgba(3, 124, 0, 0.2);
	margin-bottom: 100px;
}

#presentationIndicators {
    background-color: rgba(3, 124, 0, 1);
    bottom: 450px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0;
    border-radius: 5px;
}

#presentationCarousel {
	height: 100%;
}

.presentation {
	height: 500px;
}

.tmntPicPresentation {
	max-width: 100%;
	max-height: 100%;
}

#presentationSlides {
	top: 50px;
}

#presentationIndicators li {
	width: 20%;
	height: auto;
	color: white;
}

.active {
	margin: 1px !important;
	color: #037C00 !important;
	font-weight: bold;
}

#textInsideIndicator {
	border-radius: 5px;
	text-indent: 0;
	line-height: 35px;
	font-weight: bold;
	/*color: white;*/
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		BIOGRAPHIE
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#biographie {
	background-color: #2BAF2B;
}

.bandeau {
	height: 60px;
	width: 250px;
	/*position: absolute;
	bottom: 150px;*/
}

.bandeau-img {
	margin-left:35px;
	margin-top:10px;
	width: 180px;
}

.turtle-flat {
	background-color: #037C00;
	width: 250px;
	height: 250px;
	border-radius: 25%;
	padding-top: 60px;
}

.turtle-title {
	text-align: center;
	cursor: pointer;
}

#story-panel, #series-panel, #series-next-panel, #movies-panel {
	display: none;
	border: 3px solid #B25C11;
}

.style-panel {
	background-color: #F0B21F;
	border-radius: 5px;
	padding: 10px;
	width: 250px;
	height: 400px;
	text-align: center;
}

.btn-link {
	bottom:0;
}


#bandeau-blue {
		background-color: #00adef;
}

#bandeau-orange {
		background-color: #f7941d;
}

#bandeau-purple {
		background-color: #6c4a9e;
}

#bandeau-red {
		background-color: #ed1b24;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		PHOTOGRAPHIES
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#photographies {

	text-align: center;
	background-color: #212121;
}

#gallery {
}

.img-gallery {

	display: inline-block;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		GOODIES
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#goodies {
	background-color: #FFF;
	height: 200px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		CONTACT
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#contact {
	margin-bottom: 50px;
}

#name, #firstname, #email, #subject, #message {
	border-radius: 1px;
}

.alert  {
	margin-top: 3px;
	display: none;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		FOOTER
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

footer {
	background-color: #212121;
	color: #FFF;
	height: 300px;
	width: 100%;
	text-align: center;
}

.footer-text-special {
	font-family: "Turtles";
	font-size: 34px;
	color: #87C43F;
}

.logo-socialNetwork {
	width: 50px;
	margin-bottom: 5px;
	margin-right: 5px;

}

#logo-footer {
	width: 130px;
	margin-top: 80px;
	float: left;
}

#footer-socialNetwork {
	list-style: none;
	text-align: left;
	cursor: pointer;
	text-align: center;
}

#footer-socialNetwork > li {
	display: inline-block;
	margin-top: 30px;
}

#newsletter-input {
	color: #000;
}

#newsletter-btn {
	background-color: #037C00;
	border: 1px solid #87C43F;
	color: #FFF;
}
