@@font-face {
	font-family: "Turtles";
	src=url("font/Turtles.otf");
}

body {
	margin: 0;
	padding: 0;
	margin-top: 50px;
}

.section-title {
	text-align: center;
	margin-bottom: 30px;
	color: #FFF;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		HEADER
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.navbar-default {
	background-color: #037C00;
	border-bottom: #2BAF2B;
}

.nav.navbar-nav.navbar-right li a {
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #FFF;
background-color: #037C00;
}

#logo-header {
	 height: 40px;
	 margin-top: -10px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		PRESENTATION
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#presentation {
	background-color: #2BAF2B;/*rgba(3, 124, 0, 0.2); #2BAF2B*/
	height: 800px;
}

#presentationIndicators {
    margin-top: 10px;
    bottom: 450px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0;
    border-radius: 5px;
}

#presentationCarousel {
	height: 100%;
}

.presentation {
	height: 500px;
}

.tmntPicPresentation {
	max-width: 100%;
	max-height: 100%;
}

#presentationSlides {
	top: 50px;
}

#presentationIndicators li {
	width: 20%;
	height: auto;
	color: white;
}

.description-perso {
	color: #212121;
}

.active {
	margin: 1px !important;
	color: #037C00 !important;
	font-weight: bold;
}

.textInsideIndicator {
	border-radius: 5px;
	text-indent: 0;
	line-height: 35px;
	font-weight: bold;
	/*color: white;*/
	background-color: #212121;
}

.presentation-perso {
	margin-top: 100px;
}

.carousel-indicators li {
	border: 1px solid #212121;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		BIOGRAPHIE
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#biographie {
	background-color: #212121;
	padding-top: 30px;

}

.bandeau {
	height: 60px;
	width: 250px;
}

.bandeau-img {
	margin-left:35px;
	margin-top:10px;
	width: 180px;
}

.turtle-flat {
	background-color: #037C00;
	width: 250px;
	height: 250px;
	border-radius: 25%;
	padding-top: 60px;
}

.turtle-title {
	text-align: center;
	cursor: pointer;
	color: #cacfd2  ;
}

#story-panel, #series-panel, #series-next-panel, #movies-panel {
	display: none;
}

#story-panel {
	background-color: #00adef;
}

#series-panel {
	background-color: #f7941d;
}

#series-next-panel {
	background-color: #6c4a9e;
}

#movies-panel {
	background-color: #ed1b24;
}

.style-panel {
	/* background-color: #048B9A; */
	color: #cacfd2 ;
	border-radius: 5px;
	padding: 10px;
	width: 250px;
	height: 350px;
	text-align: center;
	font-weight: bold;
}

.btn-link {
	bottom:0;
	color: #cacfd2 ;
}


#bandeau-blue {
		background-color: #00adef;
}

#bandeau-orange {
		background-color: #f7941d;
}

#bandeau-purple {
		background-color: #6c4a9e;
}

#bandeau-red {
		background-color: #ed1b24;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		PHOTOGRAPHIES
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#photographies {
	height: 800px;
	text-align: center;
	background-color: #2BAF2B;
}

#gallery {
	margin-top: 100px;
}

.img-gallery {

	display: inline-block;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		GOODIES
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#goodies {
	background-color: #212121;
	height: 800px;
}

.goodies-box  {
	text-align: center;
}

.goodies-box  > img {
	height: 150px;
}

.input-quantity {
	width: 40px;
}

.btn-add-panier {
	background-color: #F0B21F;
}

/* !!!!!!!!!!!!! PANIER !!!!!!!!!!!!!!!!!!*/

#panier {
	width: 160px;
	height: 180px;
	background-color: #F0B21F;
	position: fixed;
	top: 300px;
	right: 0px;
	border-radius: 10px 0 0 10px;
	z-index: 10;
	text-align: center;
	padding-top: 10px;
	display: none;
}

#reset-panier {
	margin-top: 10px;
}

#remove-panier {
	margin-left: 120px;
	cursor: pointer;
}

#montant-panier {
	font-size: 16px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		CONTACT
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#contact {
	height: 700px;
	background-color: #2BAF2B;
}

#form-box {
	margin-top: 100px;
}

#name, #firstname, #email, #subject, #message {
	border-radius: 1px;
}

#gif-contact {
	width: 50%;
	margin-left: 100px;
}

.alert  {
	margin-top: 3px;
	display: none;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		FOOTER
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

footer {
	background-color: #212121;
	color: #FFF;
	height: 250px;
	width: 100%;
	text-align: center;
}

.footer-text-special {
	font-family: "Turtles";
	font-size: 34px;
	color: #87C43F;
}

.logo-socialNetwork {
	width: 50px;
	margin-bottom: 5px;
	margin-right: 5px;

}

#logo-footer {
	width: 130px;
	margin-top: 50px;
	float: left;
}

#footer-socialNetwork {
	list-style: none;
	text-align: left;
	cursor: pointer;
	text-align: center;
}

#footer-socialNetwork > li {
	display: inline-block;
	margin-top: 30px;
}

#newsletter-input {
	color: #000;
	margin-top: 50px;
}

#newsletter-btn {
	margin-top: -29px;
	background-color: #037C00;
	border: 1px solid #037C00;
	border-radius: 0 0 5px 5px;
	color: #FFF;
}
